---
layout: null
---
<!DOCTYPE html>
<html lang="en-US">

<head class="has-navbar-fixed-top">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ site.name }}</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script-->
  <link
    href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@700&family=Noto+Sans:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <script src="{{ '/js/index.js' | relative_url }}"></script>
  <link href="{{ '/css/bulma.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/index.css' | relative_url }}" rel="stylesheet">
</head>

<body>

  <!--somehow bulma navbar doesn't take space on page, so I insert a div element-->
  <div style="height: 3.25rem;"></div>

  <nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        {% for item in site.data.navigation %}
        <a class="navbar-item" style="text-align:right" href='{{site.baseurl}}{{item.link}}{{item.anchor}}'>
          {{ item.name }}
        </a>
        {% endfor %}
      </div>
    </div>
  </nav>


  <section class="hero" id="about">
    <div class="hero-body container is-max-desktop">
      <div class="columns is-vcentered">
        <div class="column is-4">
          <div class="portrait">
            <img src="{{ '/images/portrait.jpg' | relative_url }}" />
          </div>
        </div>
        <div class="column">
          <h1 class="title">
            <b>Hello, I'm {{ site.name }}</b>
          </h1>
          <div class="content has-text-justified">
            {{ site.description | markdownify }}
            <div class="buttons">
              <!--a class="external-link button is-light"
                href="https://scholar.google.com/citations?user={{ site.google_scholar }}">
                <span class="icon"><i class="ai ai-google-scholar"></i></span>
                <span>Scholar</span>
              </a-->
              <a class="external-link button is-light" href="https://github.com/{{ site.github_username }}">
                <span class="icon"><i class="fab fa-github"></i></span>
                <span>GitHub</span>
              </a>
              <a class="external-link button is-light" href="https://x.com/{{ site.twitter_username }}">
                <span class="icon"><i class="fa-brands fa-x-twitter"></i></span>
                <span>X</span>
              </a>
              <a class="external-link button is-light" href="https://www.linkedin.com/in/{{ site.linkedin_name}}/">
                <span class="icon"><i class="fab fa-linkedin-in"></i></span>
                <span>LinkedIn</span>
              </a>
              <a class="external-link button is-light"
                href="https://scholar.google.com/citations?user={{ site.google_scholar }}">
                <span class="icon"><i class="ai ai-google-scholar"></i></span>
                <span>Scholar</span>
              </a>
            </div>
          </div>
        </div>
      </div>
        <div class="subscription-container">
          <p class="subscription-message">
              Stay up-to-date with my research. I will only send an e-mail every 6 months or so. You can opt-out anytime.
          </p>
          <div class="subscription-form">
              <input type="email" id="emailInput" class="input-email" placeholder="Your-mail@mail.com">
              <button id="submitButton" class="submit-btn" aria-label="Subscribe">
                  <!-- Flaticon Send Arrow Icon (ID: 736161) -->
                  <svg class="send-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path d="M476.59,227.75l-.16-.07L49.35,49.84A23.56,23.56,0,0,0,27.14,52.6,24.65,24.65,0,0,0,16,73.44L16,185.36a24.57,24.57,0,0,0,23.16,24.43l164.34,12q7.21.54,12.12,6.24a19.35,19.35,0,0,1,5.46,14L217.77,284a19.13,19.13,0,0,1-5.46,14c-4.91,5.7-10.56,6.33-17.77,7l-164,12A24.58,24.58,0,0,0,16,341.74L16,438.51A24.63,24.63,0,0,0,39.34,464a23.28,23.28,0,0,0,10-2.19l427.25-178a25,25,0,0,0,0-46Z"/>
                  </svg>
              </button>
          </div>
        <div id="message" class="message" style="display: none;"></div>
    </div>
    </div>
  </section>

  <div class="hr">
    <div class="container">
      <hr>
    </div>
  </div>
  <section class="section">
    <div class="container is-max-desktop">
      <h2 class="title is-3 anchor" id="publications">Publications</h2>
      {% for publication in site.data.publications %}
        {% include section.html %}
      {% endfor %}
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <h2 class="title is-3 anchor" id="projects">Projects</h2>
      {% for publication in site.data.projects %} 
        {% include section.html %}
      {% endfor %}
    </div>
  </section>


  <section class="section">
    <div class="container is-max-desktop">
      <h2 class="title is-3 anchor" id="misc">Miscellaneous</h2>
      {% for publication in site.data.misc %}
        {% include section.html %}
      {% endfor %}
      </div>
  </section>

    <section class="section">
    <div class="container is-max-desktop">
      <h2 class="title is-3 anchor" id="teaching">Teaching</h2>
      <div class="publication-block columns">
        <div class="column">
          <div class="content">
            <h3 class="publication-title">Practical course: Hands-On Introduction to Deep Reinforcement Learning</h3>
            <div class="publication-venue">
              <span>SS 2024</span>
            </div>
            <p class="publication-description">
              <a href="https://github.com/OliEfr/hands-on-introduction-to-DRL-assignment/tree/main">Assignments 1, 2,
                3</a>
            </p>
            <div class="publication-links buttons field has-addons">
              <a class="external-link button is-small is-ghost" style="padding-left: .4em; " href="https://campus.tum.de/tumonline/ee/ui/ca2/app/desktop/#/slc.tm.cp/student/courses/950759169?$ctx=lang=en&$scrollTo=toc_overview">
                <span class="icon"><i class="fas fa-book-open"></i></span>
                <span>Course Page</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="hr">
    <div class="container">
      <hr>
    </div>
  </div>

  <section class="section">
    <div class="container is-max-desktop">
      {{ site.data.hobbies | markdownify }}
    </div>
  </section>


  <footer class="footer">
    <div class="container">
      <div class="content footer-links has-text-centered">
        <a href="mailto:{{ site.email }}">
          <i class="fas fa-envelope" title="oliver.hausdoerfer@tum.de"></i>
        </a>
        <a class="external-link" href="https://github.com/{{ site.github_username }}">
          <i class="fab fa-github"></i>
        </a>
        <a class="external-link" href="https://x.com/{{ site.twitter_username }}">
          <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a class="external-link" href="https://www.linkedin.com/in/{{ site.linkedin_name }}/">
          <i class="fab fa-linkedin-in"></i>
        </a>

        <a class="external-link" href="https://scholar.google.com/citations?user={{ site.google_scholar }}">
          <i class="ai ai-google-scholar"></i>
        </a>
      </div>
      <div class="columns is-centered has-text-centered">
        <div class="column is-8">
          <div class="content">
            <p>
              Site borrowed from <a href="https://keunhong.com/">this</a> and inspired by <a
                href="https://vsimkus.github.io/academic-jekyll/">this</a>. Feel free to reuse <a
                href="https://github.com/OliEfr/OliEfr.github.io">this site</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
